html, body {
  height: auto; /* allow natural height */
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Georgia", serif;
  background-color: #000000;
  color: #333;
}

section {
  scroll-margin-bottom: 4rem;
}

h2 {
  margin-bottom: 1rem;
}

