/* 


.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #5b7da6;
    font-family: sans-serif;
}

.loading-container span {
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 5px;
    z-index: 1;
    mix-blend-mode: difference;
}

.loading-container::before {
    content: "";
    width: 100px;
    height: 100%;
    background-color: #5b7da6;
    position: absolute;
    left: 0;
    top: 0;
    animation: move 4s linear infinite;
    z-index: -1;
}

@keyframes move {
    0%, 100% {
        left: 0;
    }
    50% {
        left: calc(100% - 100px);
    }
}

/* Optional: body background */




.loading {
  --body-color: rgb(145, 70, 101);
  --font-family: "Inter", "Source Code Pro", sans-serif;
  --font-color: rgb(252, 185, 185);
  --font-size: 25px;

  --timing: 600ms;
  --jump-height: 30px;

  --dot-width: 30px;
  --dot-height: 30px;
  --dot-1-color: rgb(179, 238, 248);
  --dot-2-color: rgb(253, 255, 148);
  --dot-3-color: rgb(137, 255, 91);
  --dot-4-color: rgb(249, 134, 253);

  --footer-h1-font-family: "Inter", "Poppins", sans-serif;
  --footer-h1-font-size: 15px;
  --footer-h1s-font-size: 12px;
  --footer-h1-font-color: #8ab9ff;
  --footer-h1-font-weight: 200;
  --footer-bg-color: rgb(68, 15, 50);
  --footer-h2-font-family: "Inter", "Poppins", sans-serif;
  --footer-h2-font-weight: 100;
  --footer-h2-font-size: 10px;
  --footer-h2s-font-size: 8px;
  --footer-h2-font-color: #ffffff;
  --footer-h3-font-family: "Inter", "Poppins", sans-serif;
  --footer-h3-font-weight: 100;
  --footer-h3-font-size: 9px;
  --footer-h3s-font-size: 7px;
  --footer-h3-font-color: #ffffff;
  --footer-h4-font-family: "Inter", "Poppins", sans-serif;
  --footer-h4-font-weight: 100;
  --footer-h4-font-size: 7px;
  --footer-h4-font-color: #ffffff;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--body-color);
  overflow: hidden;
}

.loading-text {
  position: relative;
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  filter: drop-shadow(0px 20px 2.5px rgba(231, 204, 204, 0.3));
}

.loading-dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.dot-1,
.dot-2,
.dot-3,
.dot-4 {
  position: relative;
  height: var(--dot-height);
  width: var(--dot-width);
  border-radius: 50%;
  animation: jumping-dots 2s cubic-bezier(0.55, 1.55, 0.55, 1.55) infinite;
  filter: drop-shadow(0px 0px 10px rgba(119, 72, 115, 0.521))
    drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.3));
  transition: var(--timing);
}

.dot-1::before,
.dot-2::before,
.dot-3::before,
.dot-4::before {
  content: "❤";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 50%;
}

.dot-1 {
  background-color: var(--dot-1-color);
}

.dot-2 {
  background-color: var(--dot-2-color);
  animation-delay: 0.25s;
}

.dot-3 {
  background-color: var(--dot-3-color);
  animation-delay: 0.5s;
}

.dot-4 {
  background-color: var(--dot-4-color);
  animation-delay: 0.75s;
}

@keyframes jumping-dots {
  0%, 50%, 75%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(calc(var(--jump-height) * -1));
  }
}

